/* desktop layout 1440px */

*{
    margin: 0px; 
    padding: 0px;
}

body {
    font-size: 13px;
    background-color: rgb(200,203,186);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.principal {
    width: 50%;
    display: flex;
    line-height: 20px;
    border-radius: 15px;
    background-color: hsl(0,0%,90.98%);
    font-family: "Manrope";
    
}

.principal #imgPrincipal{
    border-radius: 10px 0px 0px 10px;
}

.txt {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5%;
    width: 100%;
    position: relative;
}

.txt .titulo {
    font-family: "Manrope", sans-serif;
    font-size: 19px;
    margin-bottom: 5%;
    font-weight: 700;
}

.txt .descricao {
    font-size: 14px;
    margin-bottom: 3%;
}

.txt .pessoa {
    width: 100%;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    margin-top: 5%;
}

.txt .pessoa .imgAvatar {
    display: flex;
    width: 45%;
    justify-content: space-between;
}

.imgAvatar img {
    border-radius: 100px;
}

.pessoa #button {
    background-color: rgb(200,203,186);
    border-radius: 50px;
    padding: 8px;
    margin-right: 4%;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    color: white;
    border: none;
}

.share {
    background-color: rgb(78, 78, 78);
    padding: 4%;
    border-radius: 10px;
    display: flex;
    position: absolute;
    justify-content: space-around;
    width: 40%;
    align-items: center;
    top: 50%;
    left: 60%;
    opacity: 0.92;
    box-shadow: 5px 5px 5px rgb(37, 37, 37);

}

.share p {
    color: rgb(200,203,186);
}

.share .shareIcons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 52%;
}

.share .triangle {
    width: 20px;
    height: 20px;
    background-color: rgb(78, 78, 78);
    position: absolute;
    top: 80%;
    left: 46%;
    opacity: 0.92;
    transform: rotateY(0deg) rotate(45deg);
}

.pessoa #buttonClose {
    background-color: rgb(210, 218, 204);
    border-radius: 50px;
    padding: 8px;
    margin-right: 4%;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    color: white;
    border: none;
    display: none;
}

.share #buttonCloseOne {
    display: none;
}